In [ ]:
import pandas as pd

In [ ]:
conn_uri = 'postgresql://postgres:91247610@localhost:5432/Curso'

In [ ]:
pd.read_sql('orders', conn_uri)

In [ ]:
query = '''
    SELECT order_status, count(*) AS order_count
    FROM orders
    GROUP BY 1
    ORDER BY 2 DESC
'''

In [ ]:
pd.read_sql(query, conn_uri)